{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.apache.kafka/kafka-clients {:mvn/version "3.7.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}
        prismatic/schema {:mvn/version "1.4.1"}
        tick/tick {:mvn/version "0.7.5"}}
 :aliases
 {:repl {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
         :main-opts ["-m" "nrepl.cmdline"]}}}
